{% extends 'school/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
  <style media="screen">
   
  </style>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<!------ notice page for  by admin(sumit)  ---------->
<h1>Couse List</h1>
{% endblock content %}
